.App {
  text-align: center;
}

@media (min-width: 1025px) {
  .App {
    width: 600px;
    margin: auto;
  }
}

p {
  margin: 0;
}

p.song {
  font-style: italic;
  background: black;
  color: white;
  padding: 1rem;
}

.talk {
  display: flex;
  border-top: solid 1px #000;
  margin-bottom: 1rem;
  justify-content: space-between;
  padding: 0.5rem;
}

.talk-title {
  font-weight: bold;
}

.talk-assignee {
  text-align: right;
}
